/* # RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lato", sans-serif;
  background-color: #d9dbd5;
}

.wrapper {
  height: 95vh;
  width: 70%;
  display: flex;
}

/* COLONNA CONTATTI */

.col-contact {
  width: 30%;
  border-right: 1px solid #b9b9b9;
}

.col-message {
  width: 70%;
}

.wrapper-header {
  background-color: #eaeaea;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #b1b1b1;
}

h5 {
  color: black;
}

.user-image {
  width: 50px;
  border-radius: 50%;
}

.contact-notification {
  background-color: #8edafc;
  height: 80px;
}

.contact-search {
  background-color: #fcfcfc;
  height: 50px;
}

.contact-list {
  background-color: white;
  height: calc(95vh - 200px);
  overflow: auto;
  color: #b1b1b1;
}

.contact-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  padding: 10px;
  border-top: 1px solid #e9ebeb;
}

.contact-list li:hover {
  cursor: pointer;
  background-color: #e9ebeb;
}

/* COLONNA MESSAGGI */

.chat-body {
  background-image: url(../img/mine.jpg);
  height: calc(95vh - 140px);
  display: flex;
  justify-content: center;
}

.message {
  width: 100%;
  padding: 50px;
  max-height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 15px;
  overflow: auto;
}

.box-message {
  max-width: 45%;
  max-height: 220px;
  border-radius: 10px;
  padding: 10px 10px 0 10px;
  align-self: flex-start;
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

.box-message.sent {
  background-color: #d5f9ba;
  align-self: flex-end;
}

.box-message.received {
  background-color: white;
}

.box-message span {
  font-size: 0.7rem;
}

.input-message {
  background-color: #f3eeea;
  height: 70px;
}
