<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Boolzapp</title>

    <!-- Link Fontawesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- Link googlefont -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato&display=swap"
      rel="stylesheet"
    />

    <!-- Link Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />

    <!-- luxon cdn -->
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.4.4/build/global/luxon.min.js"></script>

    <!-- Link CSS -->
    <link rel="stylesheet" href="./css/style.css" />

    <!-- Vue cdn-->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- Link JS -->
    <script type="text/javascript" src="./js/main.js" defer></script>
  </head>
  <body class="body-container">
    <div class="wrapper" id="app">
      <!-- Colonna contatti -->
      <div class="col-contact">
        <div class="wrapper-header">
          <div>
            <img src="./img/avatar_io.jpg" alt="" class="user-image mx-2" />
          </div>
          <div class="flex-grow-1">
            <h5 class="mb-0">Sofia</h5>
          </div>
          <div>
            <i class="fa-solid fa-circle-notch fa-xl me-3"></i>
            <i class="fa-solid fa-message fa-xl me-3"></i>
            <i class="fa-solid fa-ellipsis-vertical fa-xl me-3"></i>
          </div>
        </div>

        <!-- Silenzia notifiche -->

        <div class="contact-notification">
          <div class="icon-bell">
            <i class="fa-solid fa-bell-slash fa-xl"></i>
          </div>
          <div>
            <p class="m-0">Ricevi notifiche di nuovi messaggi</p>
            <a href="#">Attiva notifiche desktop</a>
          </div>
        </div>

        <!-- Barra ricerca contatti -->
        <div class="contact-search">
          <div class="input-group py-1 px-2">
            <span class="input-group-text"
              ><i class="fa-solid fa-magnifying-glass"></i
            ></span>
            <input
              type="text"
              class="form-control"
              placeholder="Cerca o inizia una nuova chat"
              v-model="searchName"
              @keyUp="filteredContacts()"
            />
          </div>
        </div>

        <!-- Lista Contatti -->
        <div class="contact-list">
          <ul class="p-0">
            <li
              v-for="(contact, index) in contacts"
              v-show="contact.visible"
              @click="showChat(index)"
            >
              <div>
                <img :src="contact.avatar" alt="" class="user-image" />
              </div>
              <div class="flex-grow-1 ms-3">
                <h5 class="mb-0">{{ contact.name }}</h5>
                <p class="mb-0" v-if="contact.messages.length > 0">
                  {{getLastMessage(contact.messages)}}
                </p>
              </div>
              <div>
                <span v-if="contact.messages.length > 0"
                  >{{ getLastMessageDate(contact.messages)}}</span
                >
              </div>
            </li>
          </ul>
        </div>
      </div>

      <!-- Colonna messaggi -->
      <div class="col-message">
        <div class="wrapper-header">
          <div>
            <img
              :src="contacts[activeContact].avatar"
              alt=""
              class="user-image mx-2"
            />
          </div>
          <div class="flex-grow-1 ms-3">
            <h5 class="mb-0">{{ contacts[activeContact].name}}</h5>
            <p class="mb-0" v-if="contacts[activeContact].messages.length > 0">
              Ultimo accesso {{
              getLastAccess(contacts[activeContact].messages)}}
            </p>
          </div>
          <div>
            <i class="fa-solid fa-magnifying-glass fa-xl me-3"></i>
            <i class="fa-solid fa-paperclip fa-xl me-3"></i>
            <i class="fa-solid fa-ellipsis-vertical fa-xl me-3"></i>
          </div>
        </div>
        <div class="chat-body">
          <div class="message">
            <div
              v-for="(message, indexMessage) in contacts[activeContact].messages"
              :class="message.status == 'sent' ? 'sent' : 'received'"
              class="box-message"
            >
              <div><p class="my-0">{{ message.message}}</p></div>
              <div class="box-message-info">
                <div><span>{{ formatDate(message.date)}}</span></div>
                <div class="dropdown">
                  <button
                    class="btn-info"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <i class="fa-solid fa-check check-click"></i>
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" href="#">Info messaggio</a>
                    </li>
                    <li>
                      <a
                        class="dropdown-item"
                        href="#"
                        @click="deleteMessage(indexMessage)"
                        >Cancella messaggio</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="input-message">
          <div><i class="fa-regular fa-face-smile fa-xl mx-4"></i></div>
          <div class="flex-grow-1">
            <input
              type="text"
              class="form-control"
              placeholder="Scrivi un messaggio"
              v-model="newMessageSend.message"
              @keyUp.enter="addNewMessageSend()"
            />
          </div>
          <div><i class="fa-solid fa-microphone fa-xl mx-4"></i></div>
        </div>
      </div>
    </div>
    <!-- JS Bootstrap -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
